@charset "utf-8";
 
html

.top {
background: #7C7C7C;
	text-align: center;
	padding: 3px 0px; }


.headingdiv {align-content: center;}

h1 

.landingpage_content{ text-align: center;


	
}
.landingpage_content p {
    text-align: center;
    font-stretch: expanded;
    font-size: large;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	
}
.footing {
	background: #7C7C7C;
	text-align: center;
	padding: 3px 0px; 
}
ul {
	
}
