@charset "utf-8";
@import url("layout.css");
nav {
    right: 50px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
    float: right;
    text-transform: uppercase;
    background-color: #DBF44F;
}
li {
    display: table-header-group;
    text-align: left;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: normal;
}
body {
    font-size: medium;
}
